body {
  background-color: black;
  color: white;
}

nav {
  width: 300px;
  float: left;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  font-size: 30px;
  color: white;
}

.tabs {
  float: right;
  width: calc(100% - 300px);
  border-left: solid 1px #a9a9a9;
}

ul.nav.nav-tabs {
  display: flex;
  flex-wrap: wrap;
}

#for-you ul {
  padding-left: 16px;
  margin-bottom: 0px;
}

#for-you ul li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

#for-you p {
  padding-left: 75px;
}

#for-you .tweet_image {
  margin-left: 70px;
}

#following ul {
  padding-left: 16px;
  margin-bottom: 0px;
}

#following ul li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

#following p {
  padding-left: 75px;
}

#following .tweet_image {
  margin-left: 70px;
}

a:link:not(.page-link), a:visited:not(.page-link), a:hover:not(.page-link), a:active:not(.page-link) {
  text-decoration: none;
  color: white;
}

.tweet {
  color: white;
  border-bottom: solid 1px #a9a9a9;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.tweet ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.tweet ul li {
  padding-left: 16px;
}

.tweet .form-group {
  width: 1230px;
  background-color: black;
  color: white;
}

.tweet .image {
  cursor: pointer;
  margin-left: 75px;
}

.logo_name {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.icon_image {
  border-radius: 50%;
}

.post {
  text-decoration: none;
  color: white;
  font-size: 15px;
  float: right;
  margin-right: 30px;
  border-radius: 100px;
  padding: 5px 10px;
}
